.section-sm {
    position: relative;
    padding-top: 2em;
    padding-bottom: 2em;
}

.section {
    position: relative;
    padding-top: 4em;
    padding-bottom: 4em;
}

.section-lg {
    position: relative;
    min-height: 500px;
    min-height: 100vh;
}