<!DOCTYPE html>

<html lang="en">

<head>

	<title>
        Generic Logo - a landing page theme for Pagesimple
    </title>

	<!-- The Meta Fun -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="canonical" href="">

    <link rel="shortcut icon" href="img/favicon/favicon.png?v=1" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.ico?v=1" type="image/x-icon">
    <link rel="mask-icon" href="img/favicon/favicon.svg?v=1" color="#6473fa" type="">

    <meta name="theme-color" content="#6473fa">
	
	<!-- Scripts -->
	<script src="js/site.min.js"></script>
	
	<!-- Stylesheets -->
    <link rel="stylesheet" href="css/main.css">

    <!-- Third Party Assets -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600" rel="stylesheet">

    <!-- Meta Tags -->
    <meta name="description" content="A simple, starting point for website projects. Also known as a boilerplate.">

	<!-- Open Graph Markup for Social Sharing -->
	<meta property="og:title"       content="Generic Logo - a landing page theme for Pagesimple" />
	<meta property="og:type"        content="website" />
	<meta property="og:url"         content="" />
	<meta property="og:image"       content="img/generic-logo.svg" />
	<meta property="og:site_name"   content="Generic Logo Theme, Pagesimple" />
	<meta property="og:description" content="A beautiful, modern landing page for web projects. Built for Pagesimple" />

    <!-- <meta name="twitter:card" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content=""> -->

</head>

<body>

    <div class="wrapper">

    <!-- Navigation -->
    <div class="mobile-nav-btn btn-fab-fixed" data-idea-toggle="nav" aria-label="Open Navigation Menu">
        <div>MENU</div>
    </div>

    <nav class="main-header-nav" role="navigation" data-idea-target="nav">

        <div class="main-header-logo">
            <img src="img/generic-logomark.svg" alt="">
        </div>
    
        <div class="mobile-nav-close">
            <button class="btn-icon-light" data-idea-toggle="nav" aria-label="Close Navigation Menu" title="Close Navigation Menu">
                <span>&times;</span>
            </button>
        </div>
    
        <a href="#features" data-idea-toggle="nav">
            <div class="main-header-nav-item">
                Features
            </div>
        </a>
    
        <a href="#examples" data-idea-toggle="nav">
            <div class="main-header-nav-item">
                Examples
            </div>
        </a>
    
    </nav>


    <main role="main">

        <!-- Hero -->
        <section class="section-lg row align-center bg-hero">

            <div class="container text-center">
                <img src="img/generic-logo.svg" alt="">
                <h4>
                    A simple starting point for great ideas. <br>
                </h4>
                <a class="btn-primary btn-u-lg mar-t" href="#">
                    Get Started
                </a>
            </div>

        </section>

        <!-- Features -->
        <section class="section container">

            
            <header id="features">
                <h1>Features</h1>
            </header>

            <div class="row row-gutters align-start responsive-sm">

                <div class="col-30">
                    <div class="text-center ">
                        <img src="img/generic-logomark.svg" alt="">
                    </div>

                    <div class="">
                        <h3 class="text-center">Dynamic</h3>
                        <p>
                            Responsive by default, scalable style system, plug-and-play styling for unopinionated components.
                        </p>
                    </div>
                </div>

                <div class="col-30">
                    <div class="text-center ">
                        <img src="img/sass-logo.svg" alt="">
                    </div>

                    <div class="">
                        <h3 class="text-center">Stylish</h3>
                        <p>
                            Sensible defaults, powerful mixins and smart variables. Use the kit or get sassy with Sassy CSS.
                        </p>
                    </div>

                </div>

                <div class="col-30">
                    <div class="text-center ">
                        <img src="img/gulp-logo.svg" alt="">
                    </div>

                    <div class="">
                        <h3 class="text-center">Automatic</h3>
                        <p>
                            A browser refreshing, image optimizing, file smushing, build compiling, concatenating code robot. 
                        </p>
                    </div>
                </div>

            </div>

        </section>

        <!-- Examples -->
        <section class="section container">
        
            <header id="examples">
                <h1>Examples</h1>
                <h3>Who's using Generic Logo?</h3>
            </header>
        
            <div class="row row-gutters align-center responsive-sm mar-b_lg">
                <div class="text-center col-40">
                    <img src="img/ex-the-idea.jpg" srcset="img/ex-the-idea.jpg 1x, img/ex-the-idea@2x.jpg 2x" alt="">
                </div>
        
                <div class="col-60">
                    <h3>The Idea</h3>
                    <p>
                        TheIdea is a digital web studio based in Montréal. They work with growing companies to build digital strategies through websites
                        and applications.
                    </p>
                </div>
            </div>
        
            <div class="row row-gutters align-center responsive-sm mar-b_lg">
                <div class="text-center col-40">
                    <img src="img/ex-gohobo.jpg" srcset="img/ex-gohobo.jpg 1x, img/ex-gohobo@2x.jpg 2x" alt="">
                </div>
        
                <div class="col-60">
                    <h3>GoHobo</h3>
                    <p>
                        Built as a publication and a collection of curated alternative travel resources for adventurers, nomads, vandwellers, explorers
                        and travelers.
                    </p>
                </div>
        
            </div>
        
        </section>


        <!-- Final CTA -->
        <section class="section row align-center">

            <div class="container-sm text-center">

                <img src="img/generic-logo.svg" alt="">

                <div class="col mar-t_lg text-center">
                    <a class="btn-primary btn-u-lg mar-t" href="#">
                        Get Started
                    </a>
                </div>

            </div>   

        </section>

    </main>

    <!-- Footer -->
    <footer class="section mar-t_xl bg-highlight-grad">

        <div class="container-sm row row-between responsive-sm">
            <p>
                Built and maintained by
                <a href="https://twitter.com/theidea_io" title="Twitter: @theidea_io">@theidea_io</a>.
            </p>
            <img src="img/favicon/favicon.svg" height="50" alt="">
        </div>

    </footer>

    </div>

</body>
</html>